<div class="auth-container fade-in">
  <div class="auth-card">
    <h2 class="auth-title">Reset Password</h2>
    <p class="auth-subtitle">Enter your new password below</p>

    <div *ngIf="successMsg" class="alert alert-success">{{ successMsg }}</div>
    <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
    <div *ngIf="resetForm.errors?.['notMatching']" class="alert alert-danger">
      Passwords do not match
    </div>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- New Password -->
      <div class="input-group">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="New Password" formControlName="password" />
      </div>


      <!-- Confirm Password -->
      <div class="input-group">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Confirm Password" formControlName="confirmPassword" />
      </div>

      <button type="button" class="footer-btn" (click)="togglePassword()">
        {{ showPassword ? 'Hide Password' : 'Show Password' }}
      </button>

      
      <button type="submit" class="btn" [disabled]="loading || resetForm.invalid">
        {{ loading ? 'Resetting...' : 'Reset Password' }}
      </button>
    </form>

    <div class="footer-text">
      <a class="footer-btn" routerLink="/Login">Back to Login</a>
    </div>
  </div>
</div>
